<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles.css">
</head>
  <body>
    <h1>Details about <em><%= result.title %></em><i>:</i></h1>

    <ul>
      <li><strong>Artist:</strong> <%= result.artist %></li>
      <li><strong>Year recorded:</strong> <%= result.year %></li>
      <li><strong>Label:</strong> <%= result.label %></li>
    </ul>
    <p><a href="/">Back home</a></p>

  </body>
</html>