<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
      <h1>1960s Avant-Garde Jazz Albums</h1>
    <ul>
     <% albums.forEach((album) => { %>
      <li><a href="/albums/<%= album.id %>"> <%= album.title %> </a></li>
     <% }); %>
    </ul>
  </body>
</html>